:root {
    --primary-color: #FFAA21;
    --primary-shadow-color: #D08000;
    --primary-bright-color: #ffb922;
    --primary-bright-shadow-color: #f8a013;
    --transparant-orange-color: #fff4e3;
    --primary-text-color: #4b4b4b;
    --gray-color: #E5E5E5;
    --light-gray-color: #f5f5f5;
    --dark-gray-color: #cacaca;
    --policy-text-color: #a8a8a8;
    --dark-policy-text-color: #8f8f8f;
    --blue-color: #1CA4FF;
    --white-color: #fff;
    --error-color: #b41313;
    --bright-brown-color: #726760;

    --red-color: #EC3B35;
    --red-shadow-color: #c9211b;
    --bright-blue-color: #18C0EF;
    --bright-blue-shadow-color: #00a1ce;
    --green-color: #80DE37;
    --green-shadow-color: #61bd1b;
    --yellow-color: #FBDC30;
    --yellow-shadow-color: #d3b509;
    --pink-color: #F6448B;
    --pink-shadow-color: #cc1a61;
    --violet-color: #D044FF;
    --violet-shadow-color: #a817d8;
    --purple-color: #4E48FF;
    --purple-shadow-color: #1f19d3;
}